/*
*   Calling Blocks
*/

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'BLOCK_TYPE_HERE' %}
      <div class="slide" {{ block.shopify_attributes }}>
        {{ block.settings.image | image_url: width: 2048 | image_tag }}
      </div>
    ...
  {% endcase %}
{% endfor %}



{% schema %}
{
  "name": "SECTION_NAME_HERE",
  "tag": "SECTION_HTML_TAG_WRAPPER",
  "class": "SECTION_CLASS",
  "max_blocks": 5, // BLOCK LIMIT HERE
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
}
{% endschema %}