.star-rating {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 18px;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
    font-family: woodmart-font;
    line-height: 18px;
}

.star-rating span:before {
    content: "\f505" "\f505" "\f505" "\f505" "\f505";
    position: absolute;
    top: 0;
    left: 0;
    color: #EABE12;
    font-size: 14px;
}